name: on-admin-staging-merge
on:
  push:
    branches:
      - 'staging'
    paths:
      - 'admin/**'
jobs:
  deploy-production:
    runs-on: ubuntu-latest

    steps:
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version-file: '../.nvmrc'
  
    - run: yarn install